
<div>
  <div class="ui vertical masthead center aligned segment">

    <div class="ui text container">

      <%= link_to (image_tag "csu_banner.jpg"), root_url_path, class:'ui fluid image' %>
      <br>

      <div class="ui two column stackable grid">
        <div class="four wide column">
          <div class="ui vertical menu fluid">
            <div class="item">
              <div class="header">公文</div>
              <div class="menu">
                <a class="item">我的公文</a>
                <a class="item">待审核的公文</a>
                <a class="item">待批复的公文</a>
                <a class="item">待发回的公文</a>
              </div>
            </div>
            <% if is_admin_or_upper? %>
                <div class="item">
                  <div class="header">后台管理</div>
                  <div class="menu">
                    <a class="item">用户管理</a>
                    <a class="item">公文管理</a>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="ui segment">
            <h1 class="ui header">
              电子政务系统
            </h1>

            <% if logged_in? %>
                <p>
                  欢迎回来，<%= @current_user.name %>
                </p>
            <% else %>
                <%= link_to '注册', signup_path, class: 'ui huge button' %>
                <%= link_to '登陆', login_path, class: 'ui huge primary button' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>