
<div>
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        电子政务系统
      </h1>
      <%= link_to '注册', signup_path, class: 'ui huge button' %>
      <%= link_to '登陆', login_path, class: 'ui huge primary button' %>
    </div>

  </div>

</div>