
<div>
  <div class="ui vertical masthead center aligned segment">

    <div class="ui text container">

      <%= link_to (image_tag "csu_banner.jpg"), root_url_path, class:'ui fluid image' %>

      <h1 class="ui header">
        电子政务系统
      </h1>

      <% if logged_in? %>
          <p>
            欢迎回来，<%= @current_user.name %>
          </p>
      <% else %>
          <%= link_to '注册', signup_path, class: 'ui huge button' %>
          <%= link_to '登陆', login_path, class: 'ui huge primary button' %>
      <% end %>
    </div>

  </div>

</div>