<div class="ui container">
  <h1>Editing Document</h1>

  <%= render 'form', document: @document %>

  <%= link_to '展示', @document, :class => 'ui primary button'%>
  <br>
  <%= link_to '返回', documents_path :class => 'ui button'%>

</div>