<div class="ui container">
  <h1>Editing Document</h1>

  <%= render 'form', document: @document %>

  <br>

  <%= link_to '展示', user_document_path, :class => 'ui primary button'%>
  <%= link_to '返回', user_documents_path, :class => 'ui button'%>

</div>